html, body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

a:hover {
    color: #a69f9f;
}

.navbar {
    background: #351C75;
    padding: 2rem 1rem;
    height: 0rem;
    min-height: 10vh;
}

.navbar .navbar-brand a {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2rem;
}

.navbar-toggler{
    background: white;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: white;
}

.navbar-toggler span + span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span + span + span {
    width: 10px;
    margin-left: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1rem;
    font-size: 1rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid white;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    border-top: 4px solid white;
    color: white;
}

.fa-solid {
    color: black;
}