html, body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    background: #351C75;
    min-height: 10vh;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 400;
    list-style: none;
    display: inline-block;
    font-size: large;
}

.navbar-brand {
    color: white;
}

.nav-con {
    flex-grow: 1;
    text-align: end;
    margin-right: 20px;
    padding-top: 17px;
}


.post-link {
    text-decoration: none;
    color: black;
}

a.post-link:hover {
    color: rgb(116, 115, 117);
}

.card {
    min-width: 4rem;
}

footer {
    background-color: #351C75;
    font-size: large;
    min-height: 8vh;
    font-size: x-large;
}

footer p {
    padding-top: 20px;
}

.masthead {
    background-image: url("https://cdn.britannica.com/32/69632-050-AA671F9E/space-shuttle-Endeavour-International-Space-Station-spacecraft-December-9-2000.jpg");
    min-height: 36vh;
    color: aliceblue;
}